# ignore everything in the repository 
/*

# folders and files to track
!workflow/envs
!workflow/rules
!workflow/notebooks
!workflow/scripts
!workflow/Snakemake
!resources
!config
!README.md
!LICENSE.md
!sample_list.tsv

# empty folders to keep 
!workflow/database/.gitkeep
!workflow/params/.gitkeep
!workflow/report/.gitkeep
!workflow/database/.gitkeep
!workflow/software/.gitkeep
!fastq/.gitkeep
