# ignore everything
*
 
# but not these files
!.readthedocs.yaml
!.gitignore
!pyproject.toml
!mkdocs.yml
!README.md
!LICENSE.md
!CHANGELOG.md
!Dockerfile
!sample/sample_list.csv

# but not these subdirectories 
!config/
!config/depracated/*
!config/*
!docs/
!docs/**
docs/_build  #ignore local build files
!resources/
!workflow/
!workflow/software/
!workflow/envs
!workflow/envs/**
!workflow/docker
!workflow/docker/**
!workflow/software/DeepVirFinder
!vomix/
!sample/contigs

# except these subdirectories
workflow/database
workflow/params
