# ignore everything
*
 
# but not these files
!.readthedocs.yaml
!.gitignore
!environment.yml
!conda-lock.yml
!pyproject.toml
!mkdocs.yml
!README.md
!LICENSE.md
!CHANGELOG.md
!sample/sample_list.csv

# but not these subdirectories 
!config/
!config/depracated/*
!config/*
!docs/
!docs/**
!resources/
!workflow/
!workflow/rules/
!workflow/software/
!workflow/envs
!workflow/envs/**
!workflow/docker
!workflow/docker/**
!workflow/apptainer
!workflow/apptainer/**
!workflow/scripts
!workflow/scripts/**
!workflow/software/DeepVirFinder
!vomix/
!sample/contigs

# except these subdirectories
workflow/database
workflow/params
workflow/scripts/__pycache__/sample_list_parse.cpython-312.pyc
docs/_build
